@charset "UTF-8";
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #2C2B2B;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.button-main {
  padding: 14px 54px 15px;
  font-size: 14px;
  line-height: 21px;
  background-color: #5A0D67;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.button-main:hover {
  background-color: #fff;
  color: #5A0D67;
}

.button--decor {
  margin-top: -7px;
  color: #fff;
  position: relative;
}
.button--decor::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: #C4C4C4;
  top: 24px;
  right: -65px;
}
.button--decor::after {
  content: "ЖМИ";
  position: absolute;
  color: #C4C4C4;
  margin-left: 130px;
}

.title {
  margin-bottom: 47px;
  color: #21062A;
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: #21062A;
  top: 22px;
  margin-left: 24px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__link {
  margin: 0 5px;
}

.header {
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 700px;
  color: #fff;
}
.header__top {
  padding: 47px 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__phone {
  font-size: 36px;
  line-height: 53px;
  font-weight: 400;
}
.header__content {
  padding-top: 55px;
  position: relative;
}
.header__title {
  margin-bottom: -10px;
  font-weight: 400;
  font-size: 72px;
  line-height: 107px;
  text-transform: uppercase;
}
.header__subtitle {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
}
.header__text {
  margin-bottom: 28px;
  max-width: 800px;
}
.header__social {
  padding: 71px 0 42px 61px;
}
.header__images {
  position: absolute;
  right: 0;
  bottom: -270px;
}

.services {
  padding-top: 300px;
}
.services__inner {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.services__content {
  width: 505px;
  margin-right: 96px;
}
.services__content-title {
  margin-bottom: 12px;
  color: #5A0D67;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}
.services__content-textbox {
  margin-bottom: 63px;
}
.services__content-text {
  margin-bottom: 12px;
}
.services__list {
  list-style: none;
  counter-reset: my-counter;
}
.services__item {
  margin-bottom: 12px;
  border: 2px solid #C4C4C4;
  width: 450px;
  padding: 0px 15px 9px 111px;
  counter-increment: my-counter;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.services__item::before {
  content: "0" counter(my-counter);
  position: absolute;
  left: 25px;
  top: 8px;
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  color: #C4C4C4;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.services__item:hover {
  border: 2px solid #5A0D67;
  width: 500px;
}
.services__item:hover .services__item-title {
  color: #5A0D67;
}
.services__item:hover::before {
  color: #5A0D67;
}
.services__item-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
}

.benefits {
  margin-bottom: 100px;
}
.benefits__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits__images {
  margin-left: -10px;
  margin-right: 95px;
}
.benefits__content {
  color: #fff;
  width: 100%;
}
.benefits__title {
  margin-left: 182px;
}
.benefits__list {
  padding: 25px 0 25px 185px;
  list-style: none;
  background-color: #21062A;
  max-width: 785px;
}
.benefits__item {
  margin-bottom: 20px;
  max-width: 320px;
}
.benefits__item-num {
  margin-bottom: -12px;
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
}
.benefits__item-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
}
.benefits__item-text {
  color: #C4C4C4;
}

.carousel {
  margin-bottom: 100px;
}
.carousel__inner {
  margin: 0 -7px;
}
.carousel__item {
  margin: 0 7px;
}
.carousel__item-box {
  border: 1px solid #C4C4C4;
  padding: 6px 6px 16px 6px;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.carousel__item-box:hover {
  color: #fff;
  background-color: #5A0D67;
  border-color: #5A0D67;
}
.carousel__item-img {
  margin-bottom: 23px;
  max-width: 100%;
}
.carousel__item-title {
  font-weight: 300;
  margin-bottom: 5px;
}

.carousel .slick-dots {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.carousel .slick-dots button {
  font-size: 0;
  border: none;
  padding: 0;
  margin: 0 10px;
  background-color: #C4C4C4;
  width: 50px;
  height: 1px;
}

.carousel .slick-active button {
  background-color: #5A0D67;
  height: 3px;
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__info {
  margin-top: 48px;
}
.contacts__list {
  list-style: none;
}
.contacts__item {
  margin-bottom: 20px;
}
.contacts__item-title {
  color: #5A0D67;
}
.contacts__form {
  padding: 50px 75px 57px;
  background-color: #21062A;
  text-align: center;
}
.contacts__title {
  margin-bottom: 16px;
  margin-left: 53px;
  text-align: left;
  color: #fff;
}
.contacts__title::after {
  background-color: #fff;
}
.contacts__input {
  margin-bottom: 12px;
  background-color: transparent;
  width: 450px;
  height: 75px;
  color: #fff;
  border: 1px solid #fff;
  display: block;
  font-size: 24px;
  padding: 0 15px;
}
.contacts__input::-webkit-input-placeholder {
  color: #C4C4C4;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}
.contacts__input::-moz-placeholder {
  color: #C4C4C4;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}
.contacts__input:-ms-input-placeholder {
  color: #C4C4C4;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}
.contacts__input::-ms-input-placeholder {
  color: #C4C4C4;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}
.contacts__input::placeholder {
  color: #C4C4C4;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}
.contacts__btn {
  padding: 14px 74px 15px;
  margin-top: 63px;
  border: none;
  background-color: #5A0D67;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.contacts__btn:hover {
  background-color: #fff;
  color: #5A0D67;
}

.footer {
  background-color: #21062A;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 100px;
}